h1:not(:first-child) {
	margin-top: 2em;
}
button {
	color: black;
	background: silver;
}
.events-performace {
	width: 45rem;
}
.events-performace td {
	white-space: nowrap;
}
.report-row {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.report-row span {
	color: black;
	padding: 2px;
}
.report-row span.failed {
	background: red;
}
.report-row span.almost {
	background: yellow;
}
.report-row span.succeded {
	background: green;
}
.chart {
	width: 45rem;
}