body {
	padding: 0;
	background-color: black;
	color: silver;
	font-size: 36px;
}
form {
	margin: 0;
	padding: 0;
}
.add-form {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 30px;
	background-color: #000000D0;
	z-index: 10000;
}
.add-form.visible {
	display: flex;
	justify-content: center;
	align-items: center;
}
.add-form .do-button {
	margin: 12px;
	border: 3px solid transparent;
	border-radius: 12px;

}
.grid{
	display: grid;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	grid-template-columns: 1fr 1fr;
}
.add-column {
	border-right: green dashed 2px;
}
.cell {
	border: 1px dashed darkgray;
	background: black;
	padding: 3px;
}
.forms {
	display: none;
}
.day-of-week {
}
.do-button {
	border: none;
	padding: 0;
	margin: 3px;
	position: relative;
	background: transparent;
	color: inherit;
	cursor: pointer;
}
.do-button .event-icon {

}
.do-button .button-modifier {
	position: absolute;
	top: 0;
	right: 0;
	opacity: .6;
	display: none;
}
.do-button:hover .button-modifier {
	display: block;
}

.day-row {
	display: flex;
}
