<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="buttonSize=${T(java.lang.Integer).valueOf(@environment.getRequiredProperty('layout.button.size'))}">
	<head>
		<title>Do Stuff Statistics</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/stats.css}" />
<!--		<meta name="viewport" content="height = device-height, width = device-width" />-->
		<link rel="icon" sizes="192x192" th:href="@{/img/favicon-192x192.png}">
		<link rel="icon" sizes="194x194" th:href="@{/img/favicon-194x194.png}">
		<link rel="icon" sizes="32x322" th:href="@{/img/favicon-32x32.png}">

<!--		<meta name="mobile-web-app-capable" content="yes">-->
	</head>
	<body>
		<h1>Wochen w&auml;hlen</h1>
		<form method="get" th:action="@{/stats}" >
			<label for="start-week">Von</label> <input type="week" name="from" id="start-week" th:value="${from}"/>
			<label for="end-week">bis</label> <input type="week" name="to" id="end-week" th:value="${to}"/>
			<button type="submit">zeigen</button>
		</form>
		<h1>Report</h1>
		<table class="events-performace">
			<tr th:each="row : ${report}">
				<td>
					<img th:src="@{${row.type.icon}}" th:width="${buttonSize}" th:height="${buttonSize}" />:
				</td>
				<td class="report-row">
					<span class="failed" th:text="${row.failed}" th:if="${row.failed > 0}" th:style="'flex-grow:' + ${row.failed} "/>
					<span class="almost" th:text="${row.almost}" th:if="${row.almost > 0}" th:style="'flex-grow:' + ${row.almost} "/>
					<span class="succeded" th:text="${row.succeded}" th:if="${row.succeded > 0}" th:style="'flex-grow:' + ${row.succeded}" />
				</td>
			</tr>
		</table>

</html>