<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="buttonSize=${T(java.lang.Integer).valueOf(@environment.getRequiredProperty('layout.button.size'))}">
	<head>
		<title>Do Stuff Statistics</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/stats.css}" />
<!--		<meta name="viewport" content="height = device-height, width = device-width" />-->
		<link rel="icon" sizes="192x192" th:href="@{/img/favicon-192x192.png}">
		<link rel="icon" sizes="194x194" th:href="@{/img/favicon-194x194.png}">
		<link rel="icon" sizes="32x322" th:href="@{/img/favicon-32x32.png}">
		<script type="text/javascript" th:src="@{/js/highcharts.js}"></script>
<!--		<meta name="mobile-web-app-capable" content="yes">-->
		<script type="text/javascript" th:inline="javascript" th:if="${weightData != null}">
			// <![CDATA[
			const weightData =  /*[[${weightData}]]*/ null;
			// ]]>
		</script>
		<script type="text/javascript" th:inline="javascript" th:if="${sugarData != null}">
			// <![CDATA[
			const sugarData =  /*[[${sugarData}]]*/ null;
			// ]]>
		</script>
		<script type="text/javascript" th:inline="javascript" th:if="${bpSysData != null && bpDiaData != null && pulseData != null}">
			// <![CDATA[
			const bpSysData =  /*[[${bpSysData}]]*/ null;
			const bpDiaData =  /*[[${bpDiaData}]]*/ null;
			const pulseData =  /*[[${pulseData}]]*/ null;
			// ]]>
		</script>
		<script type="text/javascript" th:src="@{/js/stats.js}"></script>
	</head>
	<body>
		<h1>Zeitraum w&auml;hlen</h1>
		<form method="get" th:action="@{/stats}" >
			<label for="start-week">Von</label> <input type="week" name="from" id="start-week" th:value="${from}"/>
			<label for="end-week">bis</label> <input type="week" name="to" id="end-week" th:value="${to}"/>
			<br />
			<label><input type="checkbox" name="flatten" value="true" th:checked="${param.flatten != null && param.flatten[0] == 'true'}">Kurven gl&auml;tten</label>
			<br />
			<button type="submit">zeigen</button>
		</form>

		<h1>Wochenziele</h1>
		<table class="events-performace">
			<colgroup>
				<col style="width: 0">
				<col style="width: 100%">
			</colgroup>
			<tr th:each="row : ${report}">
				<td>
					<img th:src="@{${row.type.icon}}" th:width="${buttonSize}" th:height="${buttonSize}" />:
				</td>
				<td class="report-row">
					<span class="failed" th:text="${row.failed}" th:if="${row.failed > 0}" th:style="'flex-grow:' + ${row.failed} "/>
					<span class="almost" th:text="${row.almost}" th:if="${row.almost > 0}" th:style="'flex-grow:' + ${row.almost} "/>
					<span class="succeded" th:text="${row.succeded}" th:if="${row.succeded > 0}" th:style="'flex-grow:' + ${row.succeded}" />
				</td>
			</tr>
		</table>
		<section th:if="${weightData != null}">
			<h1>Gewicht</h1>
			<div id="weight-chart" class="chart"></div>
		</section>
		<section th:if="${sugarData != null}">
			<h1>Blutzucker</h1>
			<div id="sugar-chart" class="chart"></div>
		</section>
		<section th:if="${bpSysData != null}">
			<h1>Blutdruck</h1>
			<div id="bp-chart" class="chart"></div>
		</section>
</html>